.DS_Store
.gradle
/build/
/out/
/log/
!gradle/wrapper/gradle-wrapper.jar

### All class files ###
*.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

${sys:catalina.home}
